{{ define "main" }}

<main class="main wrapper">
    <h1>{{ .Title }}</h1>

    <p>Here’s what I’m currently reading, with the aim of growing my reading list year after year.</p>

    {{ if .Site.Taxonomies.tags.reading }}
    <h2><a href="/medialog/reading/">Reading</a></h2>
    <div class="media-grid vertical">
        {{ range (sort (.Site.Taxonomies.tags.reading).Pages ".Params.Date" "desc") }}
            {{ partial "medialog/reading.html" . }}
        {{ end }}
    </div>
    {{ end }}

</main>

{{ end }}

