*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: var(--font-brand);
    font: var(--font-body);
    text-rendering: auto;
    background-color: var(--background-main);
    color: var(--color-main);
}
a {
    color: var(--color-link);
    text-decoration: none;
    &:hover {
        color: var(--color-link-hover);
    }
}
h1, h2, h3, h4, h5, h6,
b, strong {
    font-weight: var(--fw-bold);
}

i, em {
    font-style: italic;
}

/* TODO: move this  */
.wrapper {
    max-width: 768px;
    @media (--screen-m) {
        margin-left: calc(20vw + var(--logo-width));
    }
}

.main {
    margin-top: var(--spacing-6);
    padding: var(--spacing-3);
}

.back-forms {
    position: absolute;
    inset: 0 0 0 0;
    z-index: -1;
    overflow: hidden;
}
.back-circle {
    left: 80vw;
    opacity:  .02;
    > * {
        fill: var(--color-main);
    }
    animation: back-circle 65s infinite linear;
}

@keyframes back-circle{
    0% {
        transform: translateY(-20vh);
        transform-origin: center center;
    }
    25% {
        transform: translateX(45vw) translateY(50vh);
    }
    50% {
        transform: translateX(105vw) translateY(30vh);
    }
    75% {
        transform: translateX(-15vw) translateY(20vh);
    }
    100% {
        transform: translateY(-20vh);
    }
}