:root {
 /* ==========================================================================
    Fonts
    ========================================================================== */
    --font-brand: 'Overpass Mono', monospace;

    /* Fonts weights */
    --fw-regular: 400;
    --fw-bold: 700;


 /* ==========================================================================
    Colors
    ========================================================================== */

    /* Brand
    ========================================================================== */
    --background-main: #F0F0F0;
    --color-main: #292929;
    --color-main-medium: #535353;
    --color-link: #0161f0;
    --color-link-hover:#575757;


 /* ==========================================================================
    Font sizes
    ========================================================================== */

    /* Font sizes  https://www.modularscale.com/?16,14&px&1.5 */
    --font-size-1: 14px;
    --font-size-2: 16px;
    --font-size-3: 24px;
    --font-size-4: 36px;
    --font-size-5: 54px;

    /* Font sizes names */
    --font-title: var(--fw-bold) var(--font-size-4) / 1.25 var(--font-brand);
    --font-heading: var(--fw-bold) var(--font-size-3) / 1.25 var(--font-brand);
    --font-body: var(--font-size-2) / 1.46 var(--font-brand);
    --font-caption: var(--font-size-1) / 1.37 var(--font-brand);

 /* ==========================================================================
    Spacing
    ========================================================================== */
    --spacing-1: calc(1rem / 2);
    --spacing-2: 1rem;
    --spacing-3: 1.5rem;
    --spacing-4: 2rem;
    --spacing-5: 2.5rem;
    --spacing-6: 3rem;
    --spacing-7: 4rem;
    --spacing-8: 5rem;

 /* ==========================================================================
    Size
    ========================================================================== */
    --logo-width: 102px;

}


/* Dark theme */
@media (prefers-color-scheme: dark) {
    :root {
        --background-main: #292929;
        --color-main: #F0F0F0;
        --color-main-medium: #a3a3a3;
        --color-link: #02A4FF;
        --color-link-hover:#9e9e9e;
    }
}

 /* ==========================================================================
    Breakpoints
    ========================================================================== */
    @custom-media --screen-xxs (min-width: 320px);
    @custom-media --screen-xs (min-width: 480px);
    @custom-media --screen-s (min-width: 768px);
    @custom-media --screen-m (min-width: 960px);
    @custom-media --screen-ml (min-width: 1024px);
    @custom-media --screen-l (min-width: 1281px);
    @custom-media --screen-xl (min-width: 1441px);
    @custom-media --screen-xxl (min-width: 1920px);


    @custom-media --max-screen-s (max-width: 769px);
    @custom-media --max-screen-m (max-width: 960px);
    @custom-media --max-screen-ml (max-width: 1024px);