<footer class="footer wrapper">
	<ul class="footer-contact">
        <li><a href="mailto:info@oscarmlage.com" class="color-red">
            {{ partial "svg/email.html" . }}
        </a></li>
		<li><a href="https://mastodon.bofhers.es/@oscarmlage" class="color-mastodon">
            {{ partial "svg/mastodon.html" . }}
        </a></li>
        {{ with .OutputFormats.Get "rss" -}}
        <li><a href="{{ .RelPermalink }}" class="color-rss">
            {{ partial "svg/rss.html" . }}
        </a></li>
        {{ end -}}

	</ul>
</footer>
