<footer class="footer wrapper">
	<span>
		© <time datetime="{{ now }}">{{ now.Format "2006" }}</time> {{ .Site.Author.name }}
	</span>
	<ul class="footer-contact">
		<li><a href="https://mastodon.bofhers.es/@oscarmlage">mastodon</a></li>
		<li><a href="https://instagram.com/oscarmlage">instagram</a></li>
		<li><a href="https://twitch.tv/@oscarmlage">twitch</a></li>
        {{ with .OutputFormats.Get "rss" -}}
        <li><a href="{{ .RelPermalink }}">rss</a></li>
        {{ end -}}
        <li><a href="mailto:info@oscarmlage.com">info@oscarmlage.com</a></li>

	</ul>
</footer>
