{{ define "main" }}

<main class="main index wrapper">

    <div class="hero">
        {{ range (where .Site.Pages "Type" "heros") }}
        {{ if .Params.image }}
        <div class="hero-img" >
            <img src="heros/{{ .Params.image }}"
                alt="{{ .Content | plainify | htmlUnescape | truncate 50 }}" />
        </div>
        {{ end }}
        <h2 class="hero-title">{{ .Content }}</h2>
        {{ end }}
    </div>

    <section class="recent-activity">
        <h2>Recent activity</h2>
        <div class="recent-activity-grid">
            {{ range first 2 (where .Site.RegularPages "Type" "microposts") }}
                {{ partial "recent-activity/micropost-card.html" . }}
            {{ end }}

            {{ with .Site.Taxonomies.tags.watching }}
                {{ range first 2 (sort .Pages ".Date" "desc") }}
                    {{ partial "recent-activity/media-card.html" (dict "page" . "category" "watching") }}
                {{ end }}
            {{ end }}

            {{ with .Site.Taxonomies.tags.reading }}
                {{ range first 2 (sort .Pages ".Date" "desc") }}
                    {{ partial "recent-activity/media-card.html" (dict "page" . "category" "reading") }}
                {{ end }}
            {{ end }}

            {{ with .Site.Taxonomies.tags.playing }}
                {{ range first 2 (sort .Pages ".Date" "desc") }}
                    {{ partial "recent-activity/media-card.html" (dict "page" . "category" "playing") }}
                {{ end }}
            {{ end }}
        </div>
    </section>

    <div class="posts-container">
        {{ range first 5 (where .Site.RegularPages "Type" "posts") }}
            {{ .Render "summary" }}
        {{ end }}
    </div>

</main>

{{ end }}

