{{ define "main" }}

<main class="main wrapper">

    <div class="hero">
        {{ range (where .Site.Pages "Type" "heros") }}
        {{ if .Params.image }}
        <div class="hero-img" >
            <img src="heros/{{ .Params.image }}"
                alt="{{ .Content | plainify | htmlUnescape | truncate 10 }}" />
        </div>
        <h2 class="hero-title">{{ .Content }}</h2>
        {{ end }}
        {{ end }}
    </div>

	<div class="posts-container">
		{{ range (.Paginate (where .Site.RegularPages "Type" "posts")).Pages }}
			{{ .Render "summary" }}
		{{ end }}
	</div>

</main>

{{ end }}

