{{ define "main" }}

<main class="main wrapper">
    <h1>Media Log</h1>

    {{ .Title }}
    {{ .Content }}

    <h2>Watching</h2>
    <div class="posts-container">
        {{ range (.Site.Taxonomies.tags.watching).Pages }}
          <div class="media-grid vertical">
            {{ partial "medialog/watching.html" . }}
          </div>
        {{ end }}
    </div>

    <h2>Reading</h2>
    <div class="posts-container">
        {{ range (.Site.Taxonomies.tags.reading).Pages }}
          <div class="media-grid vertical">
            {{ partial "medialog/reading.html" . }}
          </div>
        {{ end }}
    </div>

    <h2>Listening</h2>
    <div class="posts-container">
        {{ range (.Site.Taxonomies.tags.listening).Pages }}
          <div class="media-grid vertical">
            {{ partial "medialog/listening.html" . }}
          </div>
        {{ end }}
    </div>
</main>

{{ end }}

