.about {
    .highlight {
        margin-bottom: var(--spacing-8);
        pre {
            padding: var(--spacing-3);
            overflow-x: auto;
            border-radius: 10px;
        }
    }
}