.footer {
    padding: var(--spacing-6) var(--spacing-3);
    font: var(--font-caption);
    display: flex;
    gap: var(--spacing-1);
    flex-wrap: wrap;
    span {
        &::after {
            content: '|';
            opacity: .4;
        }
    }
}
.footer-contact {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: var(--spacing-2);
    flex-wrap: wrap;
}