
    .media-grid {
        gap: var(--sizing-sm);
        margin-bottom: var(--sizing-base);
        display:grid
    }

    .media-grid.no-pagination {
        margin-bottom:0
    }

    /* square */
    .media-grid.square {
        grid-template-columns:var(--grid-square)
    }

    .media-grid.square a {
        aspect-ratio:var(--aspect-ratio-square)
    }

    .media-grid.square img {
        width: 100%;
        height:100%
    }

    /* vertical */
    .media-grid.vertical {
        grid-template-columns:var(--grid-vertical)
    }

    .media-grid.vertical a {
        aspect-ratio:var(--aspect-ratio-vertical)
    }

    .media-grid.vertical img {
        width: 100%;
        height:auto
    }

    /* horizontal */
    .media-grid.horizontal {
        grid-template-columns:var(--grid-horizontal)
    }

    .media-grid.horizontal a {
        aspect-ratio:var(--aspect-ratio-horizontal)
    }

    .media-grid .item-wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        position: relative;
        overflow:hidden
    }

    .media-grid .item-wrapper.shadow:after {
        content: "";
        box-shadow: inset 0 -85px 60px -60px var(--black);
        width: calc(100% - 2px);
        height: calc(100% - 1px);
        position: absolute;
        top: 0;
        left:1px
    }

    .media-grid a:hover img, .media-grid a:active img {
        border-color:var(--accent-color-hover)
    }

    .media-grid a:focus img, .media-grid a:focus-within img {
        border:0
    }

    .media-grid a:focus .shadow:after, .media-grid a:focus-within .shadow:after {
        width: 100%;
        height: 100%;
        left:0
    }

    .media-grid .meta-text {
        background-color: rgba(0, 0, 0, 0.5);
        padding: 5px 0 5px 5px;
        bottom: 0;
        box-sizing: border-box;
        width: 100%;
        position: absolute;
    }

    .media-grid .meta-text .gridheader, .media-grid .meta-text .subheader {
        color: var(--color-lightest);
        font-size: var(--font-size-sm);
        text-shadow: var(--black) 0px 0px 10px;
        line-height:1.5
    }

    .media-grid .meta-text .gridheader {
        font-weight:var(--font-weight-bold);
        padding: 1px 5px;
        small {
            color: var(--color-main-medium);
        }
    }

    .media-grid img {
        border: var(--border-default);
        transition-property: border-color;
        transition-timing-function: var(--transition-ease-in-out);
        transition-duration:.3s;
        width: 100%;
    }
