.pagination {
    border-top: 1px solid var(--color-main-medium);
    border-bottom: 1px solid var(--color-main-medium);
    padding-block: var(--spacing-3);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0 var(--spacing-3);
    a {
        font: var(--font-heading);
    }
    span {
        font: var(--font-body);
    }
}