            <a href="{{ .Params.Link }}" title="{{ .Title }}">
              <div class="item-wrapper">
                <div class="meta-text"><div class="gridheader">{{ .Title }}</div>
                <div class="subheader">
                <!-- Stars -->
                  {{ $rate := div .Params.Rate 2 }}

                  <div class="stars">
                    {{ $fullStars := int $rate }}
                    {{ $decimal := sub $rate $fullStars }}
                    {{ $halfStar := gt $decimal 0.25 }}
                    {{ $emptyStars := sub 5 (add $fullStars (cond $halfStar 1 0)) }}

                    {{ range seq 1 $fullStars }}
                      <span class="star full">★</span>
                    {{ end }}

                    {{ if $halfStar }}
                      <span class="star half">★</span>
                    {{ end }}

                    {{ if gt $emptyStars 0 }}
                      {{ range seq 1 $emptyStars }}
                        <span class="star empty">★</span>
                      {{ end }}
                    {{ end }}
                  </div>
                </div>

              </div>
              <img srcset="
                        /medialog/listening/_assets/{{ .Params.Image }} 200w,
                        /medialog/listening/_assets/{{ .Params.Image }} 400w,
                        /medialog/listening/_assets/{{ .Params.Image }} 800w
                    "
                    sizes="
                        (max-width: 450px) 200px,
                        (max-width: 850px) 400px,
                        (max-width: 1000px) 800px,
                        800px
                    "
                    src="/medialog/listening/_assets/{{ .Params.Image }}"
                    alt="{{ .Title }}" loading="lazy" decoding="async" />
              </div>
            </a>
