            <a href="{{ .Params.Link }}" title="{{ .Title }}">
              <div class="item-wrapper">
                <div class="meta-text"><div class="gridheader">{{ .Title }}</div>
                <div class="subheader">
                <!-- Stars -->
                  {{ partial "medialog/rating-stars.html" . }}
                </div>

              </div>
              <img srcset="
                        /{{ .File.Dir }}_assets/{{ .Params.img_square }} 200w,
                        /{{ .File.Dir }}_assets/{{ .Params.img_square }} 400w,
                        /{{ .File.Dir }}_assets/{{ .Params.img_square }} 800w
                    "
                    sizes="
                        (max-width: 450px) 200px,
                        (max-width: 850px) 400px,
                        (max-width: 1000px) 800px,
                        800px
                    "
                    src="/{{ .File.Dir }}_assets/{{ .Params.img_square }}"
                    alt="{{ .Title }}" loading="lazy" decoding="async" />
              </div>
            </a>
