            <a href="{{ .Params.Link }}" title="{{ .Title }}">
              <div class="item-wrapper">
                <div class="meta-text">
                    <div class="gridheader">
                        {{ .Title }}
                        {{ if .Params.Year }}<small>({{ .Params.Year }})</small>{{ end }}
                    </div>
                <div class="subheader">
                <!-- Stars -->
                  {{ $rate := div .Params.Rate 2 }}

                  <div class="stars">
                    {{ $fullStars := int $rate }}
                    {{ $decimal := sub $rate $fullStars }}
                    {{ $halfStar := gt $decimal 0.25 }}
                    {{ $emptyStars := sub 5 (add $fullStars (cond $halfStar 1 0)) }}

                    {{ range seq 1 $fullStars }}
                      <span class="star full">★</span>
                    {{ end }}

                    {{ if $halfStar }}
                      <span class="star half">★</span>
                    {{ end }}

                    {{ if gt $emptyStars 0 }}
                      {{ range seq 1 $emptyStars }}
                        <span class="star empty">★</span>
                      {{ end }}
                    {{ end }}
                  </div>
                </div>

                {{ if .Params.Progress }}
                    <!-- Barra de progreso -->
                    <div class="subheader">
                      {{ if eq .Params.Progress "100%" }}
                        <span class="check-complete">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="green">
                            <path d="M9 16.17l-4.17-4.17L3 13.83 9 20l12-12-1.41-1.41L9 16.17z"/>
                          </svg>
                        </span>
                      {{ else }}
                        <div class="progress-bar">
                          <div class="progress" style="width: {{ .Params.Progress }};"></div>
                        </div>
                      {{ end }}
                    </div>
                {{ end }}
              </div>
              <img srcset="
                        /medialog/reading/_assets/{{ .Params.Image320 }} 200w,
                        /medialog/reading/_assets/{{ .Params.Image640 }} 400w,
                        /medialog/reading/_assets/{{ .Params.Image1024 }} 800w
                    "
                    sizes="
                        (max-width: 450px) 200px,
                        (max-width: 850px) 400px,
                        (max-width: 1000px) 800px,
                        800px
                    "
                    src="/medialog/reading/_assets/{{ .Params.Image320 }}"
                    alt="{{ .Title }}" loading="lazy" decoding="async" />
              </div>
            </a>
