            <a href="{{ .Params.Link }}" title="{{ .Title }}">
              <div class="item-wrapper">
                <div class="meta-text">
                    <div class="gridheader">{{ .Title }}
                    {{ if .Params.Year }}<small>({{ .Params.Year }})</small>{{ end }}
                    </div>

                <div class="subheader">
                <!-- Stars -->
                  {{ partial "medialog/rating-stars.html" . }}
                </div>

                {{ partial "medialog/progress-bar.html" . }}

              </div>
              <img srcset="
                        /{{ .File.Dir }}_assets/{{ .Params.img_landscape }} 200w,
                        /{{ .File.Dir }}_assets/{{ .Params.img_landscape }} 400w,
                        /{{ .File.Dir }}_assets/{{ .Params.img_landscape }} 800w
                    "
                    sizes="
                        (max-width: 450px) 200px,
                        (max-width: 850px) 400px,
                        (max-width: 1000px) 800px,
                        800px
                    "
                    src="/{{ .File.Dir }}_assets/{{ .Params.img_landscape }}"
                    alt="{{ .Title }}" loading="lazy" decoding="async" />
              </div>
            </a>
